body {
  font-family: 'Roboto', sans-serif;
}

.bd-navbar {
  min-height: 4rem;
  background-color: #424242;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .05), inset 0 -1px 0 rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

@media (max-width:991.98px) {
  .bd-navbar {
    padding-right: .5rem;
    padding-left: .5rem
  }
  .bd-navbar .navbar-nav-scroll {
    max-width: 100%;
    height: 2.5rem;
    margin-top: .25rem;
    overflow: hidden;
    font-size: .875rem
  }
  .bd-navbar .navbar-nav-scroll .navbar-nav {
    padding-bottom: 2rem;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch
  }
}

.bd-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #eeeeee;
}

.bd-navbar .navbar-nav .nav-link.active,
.bd-navbar .navbar-nav .nav-link:hover {
  color: #ffecb3;
  background-color: transparent
}

.bd-navbar .navbar-nav .nav-link.active {
  font-weight: 500
}

.bd-navbar .navbar-nav-svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: text-top
}

.bd-navbar .dropdown-menu {
  font-size: .875rem
}

.bd-navbar .dropdown-item.active {
  font-weight: 500;
  color: #212529;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23292b2c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: .4rem .6rem;
  background-size: .75rem .75rem
}

.font-weight-300 {
  font-weight: 300;
}

.opp-card {
  width: 100%;box-shadow:0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);margin-bottom:10px;
}

.search-box {
  background-color:#f5f5f5;border:1px solid #c2c2c2;border-radius:2px;font-weight:300;padding:20px
}

.search-box-padding {
  padding: 10px 5px;
}

.job-posting-link {
  font-size:1.3rem;font-weight:400
}

.number-array {
  font-size: 1.2rem;
}

.pushleft-5 {
  margin-left: 5px;
}

.pushdown-20 {
  margin-bottom: 20px;
}

.pushdown-40 {
  margin-bottom: 40px;
}

.pushdown-5 {
  margin-bottom: 5px;
}

.feature-card {
  width: 100%;box-shadow:0 0 0 1px rgba(0,0,0,.15), 0 2px 3px rgba(0,0,0,.2);margin-bottom:10px;
}

.job-link {
  font-weight: 300;
  font-size: 1.3rem;
}

.toggle-text {
  font-size: 0.9rem;
}

.toggle-text:hover, .toggle-text:focus {
  text-decoration: none !important;
}


/***** BD SIDEBAR *****/
.bd-sidebar {
    -ms-flex-order: 0;
    order: 0;
    border-bottom: 1px solid rgba(0,0,0,.1)
}

@media (min-width:768px) {
    .bd-sidebar {
        border-right: 1px solid rgba(0,0,0,.1)
    }

    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-sidebar {
            position: -webkit-sticky;
            position: sticky;
            top: 1rem;
            z-index: 1000;
            height: calc(100vh - 7rem)
        }
    }
}

@media (min-width:1200px) {
    .bd-sidebar {
        -ms-flex: 0 1 320px;
        flex: 0 1 320px
    }
}

.bd-links {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-right: -15px;
    margin-left: -15px
}

@media (min-width:768px) {
    @supports ((position:-webkit-sticky) or (position:sticky)) {
        .bd-links {
            max-height: calc(100vh - 9rem);
            overflow-y: auto
        }
    }
}

@media (min-width:768px) {
    .bd-links {
        display: block !important
    }
}

.bd-toc-link {
    display: block;
    padding: .25rem 1.5rem;
    font-weight: 500;
    color: rgba(0,0,0,.65)
}

    .bd-toc-link:hover {
        color: rgba(0,0,0,.85);
        text-decoration: none
    }

.bd-toc-item.active {
    margin-bottom: 1rem
}

    .bd-toc-item.active:not(:first-child) {
        margin-top: 1rem
    }

    .bd-toc-item.active > .bd-toc-link {
        color: rgba(0,0,0,.85)
    }

        .bd-toc-item.active > .bd-toc-link:hover {
            background-color: transparent
        }

    .bd-toc-item.active > .bd-sidenav {
        display: block
    }

.bd-sidebar .nav > li > a {
    display: block;
    padding: .25rem 1.5rem;
    font-size: 90%;
    color: rgba(0,0,0,.65)
}

    .bd-sidebar .nav > li > a:hover {
        color: rgba(0,0,0,.85);
        text-decoration: none;
        background-color: transparent
    }

.bd-sidebar .nav > .active:hover > a, .bd-sidebar .nav > .active > a {
    font-weight: 500;
    color: rgba(0,0,0,.85);
    background-color: transparent
}

table.dashboard tr th {
  width: 25%;
}

.completed {
  background-color: #C8E6C9;
}

.completed > td > a {
  color: #1B5E20;
}
